<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<p>Some of the popular languages that Data Scientists use are:<p>
<ul>
<li>python</li>
<li>sql</li>
<li>c++</li>
</ul>

<p>Some of the commonly used libraries used by Data Scientists include:
</p>
<ol>
<li>panda</li>
<li>numpy</li>
<li>big dl</li>
</ol>

|Data Science tools|
|------|
|Anaconda|
|SAS|
|Spyder|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [25]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [26]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

<h2>Objectives:</h2>
<ul>
<li>Add coment to code</li>
<li>Add order and unorder list</li>
<li>create table</li>

<h2>Author</ht>
<p>Moh Alshami</p>